/* font-family: 'Neucha', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Shantell Sans', cursive;

font-family: 'Beatrix Antiqua', sans-serif;
font-family: 'Montserrat', sans-serif;*/

/* COLOR */
/* #535a64 - links, text */
/* #5c5956 - hero-title, titles */
/* #fafafa  - light text on dark bg */
/* #ffffff  - light text on buttons */
/* #7b7773 - hero-subtitle */
/* #bb8d37 - accent */
/* #b78e43 - second accent, accent on dark bg*/

:root {
  --main-light-bg-color: #ffffff;
  /* --main-dark-bg-color: #2f303a; */
  /* --secondary-light-bg-color: #f5f5f5; */
  /* --alternative-light-bg-color: #f5f4fa; */

  --main-dark-text-color: #535a64;
  --main-light-text-color: #ffffff;
  --buttons-text-color: #fafafa;
  --titles-dark-text-color: #5c5956;
  --subtitles-dark-text-color: #7b7773;
  /* --footer-link-color: rgba(255, 255, 255, 0.6); /* #ffffff 60% */

  /* --portfolio-gallery-border-color: #eeeeee; */
  /* --header-line-color: #ececec; */
  --accent-color: #bb8d37;
  --accent-text-color: #b78e43;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;

  color: var(--main-dark-text-color);
  background-color: var(--main-light-bg-color);
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* HEADER */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  padding-top: 40px;
  font-family: 'Beatrix Antiqua';
  font-weight: 300;
  font-size: 44px;
  line-height: 1.18;
  text-transform: uppercase;

  color: var(--titles-dark-text-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.nav-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  display: block;
  padding-top: 38px;
  padding-bottom: 38px;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.005em;

  color: var(--main-dark-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* HERO */

.container-hero {
  min-height: 600px;

  text-align: center;

  background-color: var(--subtitles-dark-text-color);
}

.contacts-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.contact-link {
  /* font-family: 'Montserrat';
font-style: normal;
font-weight: 400; */
  font-size: 20px;
  line-height: 1.2;

  color: var(--main-dark-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
